<template>
  <v-container>
    <v-expansion-panels multiple v-show="is_data_available">
      <v-expansion-panel
        v-for="(contacts, group_name) in contact_groups"
        :key="group_name"
        v-show="contacts.length > 0"
      >
        <v-expansion-panel-header>
          <template slot="default" slot-scope="props">
            <h4 v-show="!props.open">{{ group_name }}</h4>
            <h3 v-show="props.open" align="center">{{ group_name }}</h3>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-data-table
            :headers="headers"
            :items="contacts"
            :items-per-page="7"
          >
            <template slot="item.name" slot-scope="props">
              <b v-text="props.value"></b>
            </template>
            <template slot="item.designation" slot-scope="props">
              <i v-text="props.value"></i>
            </template>
            <template slot="item.contact" slot-scope="props">
              <span class="remove-margin" v-html="props.value"></span>
            </template>
          </v-data-table>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-sheet height="100%" v-show="!is_data_available">
      No data found. Please change your search query.
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
import { Prop, Vue, Component } from "vue-property-decorator";
import axios from "axios";
import { check_and_get, generate_url } from "@/common.ts";

class Contact {
  public name: string;
  public designation: string;
  public contact: string;
  constructor(name: string, designation: string, contact: string) {
    this.name = name;
    this.designation = designation;
    this.contact = contact;
  }
}

@Component
export default class Contacts extends Vue {
  @Prop() search_term: string;

  groups: { [id: string]: Array<Contact> } = {};

  readonly headers = [
    { text: "Name", value: "name" },
    { text: "Designation", value: "designation" },
    { text: "Contact Info", value: "contact", sortable: false }
  ];

  created() {
    this.$store.commit("setPageTitle", "Contacts");
    axios
      .get(generate_url("/dashboard/contacts"))
      .then(response => {
        this.groups = check_and_get(response, "data.groups");
      })
      .catch(response => {});
  }

  get is_data_available() {
    return Object.values(this.contact_groups).reduce(
      (prev: Boolean, contacts: Array<Contact>) => contacts.length > 0 || prev,
      false
    );
  }

  get contact_groups() {
    let filtered_groups: { [id: string]: Array<Contact> } = {};
    let groups = Object.keys(this.groups);
    groups.sort();
    groups.forEach(group => {
      let contacts = this.groups[group];
      filtered_groups[group] = contacts.filter((c: Contact) => {
        let s = this.search_term.trim();
        return (
          s === "" ||
          c.name.toLowerCase().includes(s.toLowerCase()) ||
          c.designation.toLowerCase().includes(s.toLowerCase()) ||
          c.contact.toLowerCase().includes(s.toLowerCase())
        );
      });
    });
    return filtered_groups;
  }
}
</script>

<style>
.remove-margin > p {
  margin: 0px !important;
}
</style>
