<template>
  <div>
    <v-tabs-items v-model="currentTab">
      <v-tab-item v-for="tab in tabs" :key="tab" :value="tab">
        <v-sheet v-html="values[tab]"></v-sheet>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import axios from "axios";

import { generate_url, clean_object, check_and_get } from "@/common.ts";

@Component
export default class Department extends Vue {
  values: any;

  created() {
    let sc = this.$route.params.short_code;
    axios.get(generate_url("/department")).then(response => {
      let dep_id = check_and_get(response, "data.results").find(
        (dep: any) => dep.short_code === sc
      ).id;
      axios.get(generate_url("/department/" + dep_id)).then(response => {
        this.values = response.data;
        let name = this.values.name + "(" + this.values.short_code + ")";
        this.$store.commit("setPageTitle", "Department of " + name);
        clean_object(this.values, ["name", "short_code"]);
        this.$store.commit("setTabs", Object.keys(this.values));
        this.$store.commit({
          type: "setCurrentTab",
          $route: this.$route,
          $router: this.$router,
          tab: Object.keys(this.values)[0]
        });
      });
    });
  }

  get currentTab() {
    return this.$store.getters.currentTab;
  }

  get tabs() {
    return this.$store.getters.tabs;
  }
}
</script>
