<template>
  <v-app>
    <v-app-bar app absolute>
      <v-btn icon @click.stop="drawer = !drawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>

      <v-toolbar-title>{{ pageTitle }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn depressed exact rounded text ripple to="/">
        Home
      </v-btn>
      <v-btn depressed exact rounded text ripple to="/about">
        About
      </v-btn>
      <v-btn depressed exact rounded text ripple to="/contacts">
        Contacts
      </v-btn>

      <v-tooltip
        v-model="show_search_term_tip"
        activator="#main_search_btn"
        bottom
      >
        Search term: {{ search_term }}
      </v-tooltip>

      <v-btn
        v-show="!show_search_bar"
        id="main_search_btn"
        rounded
        text
        @mouseover="show_search_term_tip = true && search_term"
        @mouseleave="show_search_term_tip = false"
        @click="show_search"
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-text-field
        v-model="search_term"
        ref="search_bar"
        v-show="show_search_bar"
        clearable
        hide-details
        single-line
        @blur="show_search_bar = false"
        append-icon="mdi-magnify"
      ></v-text-field>

      <v-menu bottom left>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>NIRF</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Chanakya</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Mail</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Old</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <template v-slot:extension v-if="tabs.length > 0">
        <v-tabs v-model="currentTab" align-with-title>
          <v-tab v-for="tab in tabs" :key="tab">{{ tab }}</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense rounded>
        <v-list-group v-for="(section, i) in sections" :key="i + 1">
          <template v-slot:activator>
            <v-list-item-content>
              {{ section.section_name }}
            </v-list-item-content>
          </template>
          <template v-for="tile in section.contents">
            <v-list-item
              v-if="tile.name !== 'Departments'"
              :key="tile.name"
              :to="get_url(tile.name)"
            >
              <v-list-item-content>{{ tile.name }}</v-list-item-content>
            </v-list-item>
            <v-list-group color="success" :key="tile.name" v-else sub-group>
              <template v-slot:activator>
                <v-list-item-title>Departments</v-list-item-title>
              </template>
              <v-list-item
                v-for="department in departments"
                :key="department.name"
                :to="'/department/' + department.short_code + '/'"
              >
                {{ department.name }}
              </v-list-item>
            </v-list-group>
          </template>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-content class="overflow-y-auto">
      <router-view :search_term="search_term === null ? '' : search_term" />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { mapState } from "vuex";
import axios from "axios";
import { check_and_get, generate_url } from "@/common.ts";

export default Vue.extend({
  name: "App",
  data: () => ({
    sections: [],
    departments: [],
    show_search_bar: false,
    show_search_term_tip: false,
    drawer: null,
    search_term: ""
  }),

  methods: {
    get_url(name: string) {
      if (name === "Departments") return null;
      return "/" + name.replace(/[^a-zA-Z0-9]+/g, "_").toLowerCase();
    },
    show_search() {
      this.show_search_bar = true;
      let search_bar = this.$refs.search_bar as HTMLFormElement;
      this.$nextTick(() => search_bar.focus());
    }
  },

  created() {
    this.$store.commit("setTabs", []);
    axios
      .get(generate_url("/dashboard/?format=json"))
      .then(response => {
        this.sections = check_and_get(response, "data.results");
      })
      .catch(error_response => {});
    axios
      .get(generate_url("/department"))
      .then(response => {
        this.departments = check_and_get(response, "data.results");
        this.departments.sort((a: any, b: any) =>
          a.short_code.localeCompare(b.short_code)
        );
      })
      .catch(error_response => {});
  },

  watch: {
    $route(value: any) {
      if (!value.path.startsWith("/department")) {
        this.$store.commit("setTabs", []);
      } else {
        this.$store.commit({
          type: "setCurrentTab",
          $route: value,
          $router: this.$router,
          tab: value.params.tab
        });
      }
    }
  },

  computed: {
    ...mapState(["pageTitle", "tabs"]),
    currentTab: {
      get: function() {
        return this.tabs.indexOf(this.$store.getters.currentTab);
      },
      set: function(newValue) {
        this.$store.commit({
          type: "setCurrentTab",
          $route: this.$route,
          $router: this.$router,
          tab: this.tabs[newValue]
        });
      }
    }
  }
});
</script>
